.container{
    width: 500px;
    height: 500px;
    background-color: #333;
    margin: 0% auto;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;

}

.items {
    width: 100px;
    height: 100px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
}

.item1 {
    background-color: red;
    font-size: 10px;


}

.item2 {
    background-color: orange;
    font-size: 15px;


}

.item3 {
    background-color: yellow;
    font-size: 20px;


}

.item4 {
    background-color: green;
    font-size: 25px;


}

.item5 {
    background-color: blue;
    font-size: 30px;


}

.item6 {
    background-color: purple;
    font-size: 35px;


}

.item7 {
    background-color: pink;
    font-size: 40px;


}

.item8 {
    background-color: palegreen;
    font-size: 45px;


}