
.container {
    width: 400px;
    height: 400px;
    position: relative;
    
    border: 1px solid black;
    
    
}

div {

    width: 200px;
    height: 200px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;

    position: absolute; 
}

.div5 .div6 .div7{
    width:100px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;

    position: absolute;
}



.div1{
background-color: red;
z-index: 5


}

.div2{
right: 0px;
background-color: orange;
z-index: 10;

}

.div3{
top: 200px;
background-color: yellow;
z-index: 10;

}

.div4{
    top: 200px;
    left: 200px;
    background-color: green;
    z-index: 10;

}

.div5{

    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    background-color: rgb(70, 70, 70);
    z-index: 10;

}

.div6{
    width: 70px;
    height: 70px;
    top: 170px;
    left: 170px;
    background-color: gray;
    z-index: 30;


}

.div7{
    width: 100px;
    height: 100px;
    top: 200px;
    left: 200px;
    background-color: white;
    z-index: 25

}


